body, html {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    min-width: 600px;
    height: 100%; /* Full height */
    min-height: 600px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    margin: auto;
    background-color: #222222;
    border: 2px solid #888;
    border-radius: 8px;
    width: 80%;
    min-width: 550px;
    height:80%;
    min-height:550px;
    max-width: 650px;
    max-height: 650px;
}
.modal-title{
    position:relative;
    width: 80%;
    height: 10%;
    margin-top: 6%;
    margin-left: 10%;
}
.modal-title p{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Apple SD Gothic Neo";
    color: #d3e6ff;
    text-decoration-color: #d3e6ff;
    font-size: larger;
}
.modal-input{
    position:relative;
    display: inline-block;
    width: 80%;
    height: 5%;
    top:25%;
    left:10%;

}
.modal-input input{
    position: relative;
    width: 68%;
    height: 100%;
    border-width: 0px;
    border-radius: 4px;
    background: #555555;
    text-align: center;
    font-size: 18px;
    color: #cccccc;
    padding: 0px;
    margin-left: 16%;
}
.modal-input-rating{
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    top:calc(35% - 30px);
    left: calc(50% - 30px);

}
.modal-input-rating button{
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #428bca;
    border-radius: 50%;
    border: 0;
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
}
.modal-input-rating ul{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    top: -30px;
}
.modal-input-rating li{
    position: static;
    width: 0;
    height: 100%;
    margin: 0% 50%;
    transition: all 0.8s ease-in-out;
}
.modal-input-rating li input {
    display: none;
}
.modal-input-rating li input + label {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 0;
    height: 0;
    line-height: 1px;
    margin-left: 0;
    margin-bottom: 120px;
    background: #fff;
    border-radius: 50%;
    color: #000;
    font-family: "Apple SD Gothic Neo";
    text-align: center;
    font-size: 1px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}
.modal-input-rating li input + label:hover {
    background: #5b6aff;
}
.modal-input-rating li input.selected + label.selected {
    background: #555555;
}
.modal-input-rating li input.selected + label.selected:hover {
    background: #5b6aff;
}
.modal-input-rating.open li input + label {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: -30px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}
.modal-input-rating p{
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}
.modal-input-create{
    display: block;
    position: relative;
    /*pointer-events: none*/
    width: 54.4%;
    height: 5%;
    min-height: 40px;
    max-height: 40px;
    top:58%;
    margin:auto auto auto auto;
    color: #333333;
    background: #605bff;
    text-align: center;
    border-radius: 4px;
    line-height: 40px;
    transition: all 0.8s ease-in-out, color 0.2s, background 0.2s;
}
.modal-input-create:hover{
    background: #aa5bff;
    color: #bbbbbb;
}
.modal-input-create:active{

    background: #ff5729;
    color: #f5f2dc;
}
.modal-input-create:active{

    background: #ff5729;
    color: #f5f2dc;
}

.room-area{
    float: left;
    display: block;
    position: relative;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    height: 100%;
    overflow: auto;
    background: #323232;
}
.room-item{
    display: block;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    margin: auto;
    border-radius: 50%;
    border: 1px #ffffff;
    background: #166dff;
}
.room-create{
    display: block;
    width: 90%;
    margin: 15% auto;
}
.room-create-image{
    width: 100%;
    height: 100%;
}
.room-create-image:active{
    content: url("../../public/images/plus-button-active.svg");
}
.room-create-image:hover{
    content: url("../../public/images/plus-button-hover.svg");
}

.chat-container{
    float: left;
    display: block;
    width: calc(100% - 100px);
    min-width: 400px;
    max-width: calc(100% - 100px);
    height: 100%;
}

.message-area{
    position: relative;
    display: block;
    overflow: auto;
    width: 100%;
    height: calc(100% - 60px); /*message-area 내에서 메시지를 제외한 영역 부분 빼줘야함*/
    background: darkslategray;
}

.my-message-block {
    overflow: hidden;
    height: auto;
    position: relative;
    background: #333640;
    width: 98%;
    min-height: 60px;
    max-height: 500%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    border: 1px solid #444444;
    border-radius: 10px;
}
.my-message-block-info{
    display: block;
    position: relative;
    width:calc(98% - 60px);
    height: 24px;
    margin-top: 2px;
    margin-left: 60px;
    margin-bottom: 0px;
}
.my-message-block-info-nick{
    display: block;
    position: relative;
    float: left;
    max-width:50%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: #d2d2d2;
    height: 100%;
}
.my-message-block-info-timestamp{
    display: block;
    position: relative;
    float: left;
    max-width:50%;
    word-break: break-all;
    white-space: pre-wrap;
    margin-left: 2%;
    font-size: 10px;
    color: #a2a2a2;
    height: 100%;
}

.my-message-block-info-sendStatus{
    display: block;
    position: relative;
    float: left;
    max-width:50%;
    word-break: break-all;
    white-space: pre-wrap;
    margin-left: 2%;
    font-size: 10px;
    color: #a2a2a2;
    height: 100%;
}

.my-message-block-info-sendStatus.success{
     display: block;
     position: relative;
     float: left;
     max-width:50%;
     word-break: break-all;
     white-space: pre-wrap;
     margin-left: 2%;
     font-size: 10px;
     color: skyblue;
     height: 100%;
 }

.my-message-block-info-sendStatus.fail{
    display: block;
    position: relative;
    float: left;
    max-width:50%;
    word-break: break-all;
    white-space: pre-wrap;
    margin-left: 2%;
    font-size: 16px;
    color: red;
    height: 100%;
}

.my-message-block-message{
    display: block;
    direction: ltr;
    position: relative;
    margin-left: 60px;
    width: calc(98% - 52px);
    color: #cccccc;
    word-break: break-all;
    white-space: pre-wrap;
}
.my-message-block-profile{
    display: block;
    position: absolute;
    float: left;
    top:0px;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-left: 2px;
    margin-top: 2px;
    overflow:hidden;
    border-width: 0px;
    border-radius: 50%;
}
.another-message-block {
    overflow: hidden;
    height: auto;
    position: relative;
    background: #333333;
    width: 98%;
    min-height: 60px;
    max-height: 500%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    border: 1px solid #444444;
    border-radius: 10px;
}
.another-message-block-info{
    display: block;
    position: relative;
    width:calc(98% - 60px);
    height: 24px;
    margin-top: 2px;
    margin-left: 60px;
    margin-bottom: 0px;
}
.another-message-block-info-nick{
    display: block;
    position: relative;
    float: left;
    max-width:50%;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: #d2d2d2;
    height: 100%;
}
.another-message-block-info-timestamp{
    display: block;
    position: relative;
    float: left;
    max-width:50%;
    word-break: break-all;
    white-space: pre-wrap;
    margin-left: 2%;
    font-size: 10px;
    color: #a2a2a2;
    height: 100%;
}
.another-message-block-message{
    display: block;
    direction: ltr;
    position: relative;
    margin-left: 60px;
    width: 98%;
    height: 100%;
    color: #cccccc;
    word-break: break-all;
    white-space: pre-wrap;
}
.another-message-block-profile{
    display: block;
    position: absolute;
    float: left;
    top:0px;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-left: 2px;
    margin-top: 2px;
    overflow:hidden;
    background: url("../../public/images/picture.jpg") no-repeat center;
    border-width: 0px;
    border-radius: 50%;
}
.input-wrapper{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 60px;
    background: #424242;
}
.message-input{
    resize: none;
    display: inline-block;
    direction: ltr;
    position: relative;
    word-break: break-all;
    white-space: pre-wrap;
    color: #d2d2d2;
    width: calc(100% - 160px);
    height: 54px;
    max-height: 54px;
    border: 1px gray;
    border-radius: 4px;
    background: #424242;
    font-size: larger;
}
.message-send{
    display: inline-block;
    position: absolute;
    width: 150px;
    max-width: 150px;
    height: 54px;
    max-height: 54px;
    color: #f5f2dc;
    background: #00585e;
    text-align: center;
    margin-left: 1px;
    padding-bottom: 2px;
    line-height: 54px;
    border: 1px solid #454445;
    border-radius: 4px;
}
.message-send:hover{
    background:#fff;
    box-shadow:0px 2px 10px 5px #97B1BF;
    color:#000;
}