.RoomActionBar{
    float: left;
    position: absolute;
    overflow: hidden;
    z-index: 4;
    display: block;
    width:calc(100% - 100px);    /*-100px is RoomArea width*/
    height: 0;
    visibility: visible;
    border-radius: 0%;
    transition: height 0.8s;
}
.RoomActionBar.unfold{
    height: 120px;
}

.RoomActionBar-fold-button{
    position: absolute;
    float: left;
    z-index: 4;
    width: 45px;
    height: 20px;
    top: 0px;
    margin-left: calc(50% - 73px);
    margin-right: calc(50% - 70px);
    background:#5168d0;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 0 1px 1px #555555;
    transition: background 1s, border-radius 0.8s,box-shadow 0.5s, top 0.8s;
}
.RoomActionBar-fold-button.unfold{
    z-index: 5;
    box-shadow: 1px 1px 0 0 #555555;
    top:100px;
    border-radius: 25px 25px 0 0;
}

.RoomActionBar-fold-button:hover{
    background:#6679d0;
}
.RoomActionBar-fold-button:active{
    background:#96a7d0;
}

.member-area{
    position: relative;
    display: block;
    overflow: auto;
    width: 100%;
    height: 60px;
    background: #a9a9a9;
}
.MemberView{
    float: left;
    padding:relative;
    width: 70px;
    height: 60px;
}
.MemberView-NickNameView{
    width: 100%;
    height: 10px;
    font-size: 10px;
    display: block;
    text-align: center;
}
.MemberView-ImageView{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-width: 0px;
    border-radius: 50%;
    background-size: cover;
    display: block;
    text-align: center;
}
.action-area{
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 60px;
    background: #a9a9a9;
}
.action-button{
    float: left;
    display: block;
    position: relative;
    width: 20%;
    /*max-width:60px;*/
    height: 50px;
    margin: 5px 2.5%;
    text-align: center;
    line-height: 50px;
}
.action-button.invite{
    background: #8f8f8f;
}
.action-button.leave{
    background: #8f8f8f;
}
.action-button:hover{
    background: #2d248f;
}
.action-button:active{
    background: #8f3323;
}